$color-primary-green: #1ec28b;
$color-secondary-green: #b2f3de;
$color-primary-grey: #73848c;
$color-primary-black: #0000;
$color-secondary-black: #2b2945;
$color-primary-white: #fff;
$default-font-size: 1.6rem;
